<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         backupGlobals="true"
         backupStaticAttributes="false">
    <testsuites>
        <testsuite name="Base Test Suite">
            <directory suffix="Test.php">./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
    	<log type="coverage-php" target="./build/logs/coverage.php" />
    	<log type="coverage-xml" target="./build/coverage" />
        <log type="coverage-html" target="./build/logs/report/"
             lowUpperBound="50" highLowerBound="90" showUncoveredFiles="true" />
        <log type="testdox-html" target="./build/logs/testdox.html" />
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
        <log type="coverage-crap4j" target="./build/logs/crap4j.xml"/>
        <log type="junit" target="./build/logs/junit.xml" />
    </logging>
</phpunit>
